<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Collection</title>
</head>
<body>
    <h1>Collection</h1>
    <h3 class="points"><Strong>Points: {{ current_user.points }}</Strong></h3>
    
    <div>
        {% if student.id != current_user.id %}
            <h3>{{ student.username }}'s Trading Cards:</h3>
        {% else %}
            <h3>Your Trading Cards:</h3>
        {% endif %}

        {% if collection %}
        <table style="margin-left: 0; float: none; display: block;">
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Emoji</strong></td>
                <td><strong>Rarity</strong></td>
                <td><strong>Class</strong></td>
            </tr>
            {% for instance in collection %}
                <tr>
                    <td><strong>{{ instance.collectible.name }}</strong></td>
                    <td><strong>{{ instance.collectible.emoji }}</strong></td>
                    <td><strong>{{ instance.collectible.rarity }}</strong></td>
                    <td><strong>{{ instance.collectible.class_ref.name }}</strong></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>This collection is currently empty</p>
        {% endif %}
    </div>

    

    <a href="/student/dashboard">Back to dashboard</a>
</body>
</html>

