<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Collection</title>
</head>
<body>
    <h1>Collection</h1>
    <h3 class="points"><Strong>Points: {{ current_user.points }}</Strong></h3>
    
    <div>
        <h3>Your Trading Cards:</h3>
        <ul>
            {% for instance in current_user.owned_collectibles %}
                <li>
                    <strong>{{ instance.collectible.name }}</strong> 
                </li>
            {% else %}
                <p>Your collection is currently empty</p>
            {% endfor %}
        </ul>
    </div>

    <a href="/student/dashboard">Back to dashboard</a>
</body>
</html>

