<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Student Dashboard</title></head>
<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}
    <section>
    <h3 class="points"><Strong>Points: {{ current_user.points }}</Strong></h3>
    <a href="/student/shop"><button>Shop</button></a>
    <a href="/student/study"><button>Study</button></a>
    <form action="{{ url_for('student_collection', student_id=current_user.id) }}" 
    style="display: inline;">
        <button type="submit">View Collection</button>
    </form>
    <div>
        <h3>Your Classes:</h3>
        {% set active_classes = current_user.class_enrollments|selectattr("status", "equalto", "active")|list%}
        {% if active_classes %}
        <table style="margin-left: 0; float: none; display: block;">
            <tr>
                <td><strong>Class </strong></td>
                <td><strong>Teacher</strong></td>
                <td><strong>Action</strong></td>
            </tr>
                {% for enrollment in active_classes %}
                    <tr>
                        <td>
                            <strong>{{ enrollment.class_ref.name }}</strong>
                        </td>
                        <td>
                            {{ enrollment.class_ref.teacher.first_name }} {{ enrollment.class_ref.teacher.last_name }}
                        </td>
                        <td>
                            <form action="{{ url_for('student_view_class', class_id=enrollment.class_ref.id) }}" 
                            style="display: inline;">
                                <button type="submit">View Class</button>
                            </form>
                            <form action="{{ url_for('student_leave_class', enrollment_id=enrollment.id) }}" 
                            method="POST" 
                            style="display: inline;">
                                <button type="submit">Leave Class</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        {% else %}
            <p>You haven't joined any classes yet!</p>
        {% endif %}
    </div>

    <form method="POST">
        <div style="display: flex; align-items: center;">
            <div class="floating-label left">
                <input type="text" name="join_code" placeholder=" ">
                <label>Class Code</label>
                <div class="slide">
                    <button type="submit" class="side-btn">Add New Class</button>
                </div>
            </div>
        </div>
    </form>
    </section>
    <form action="/logout" method="GET" style = "display: inline;">
        <button type="submit" class="logout-btn">Logout</button>
    </form>

</body>
</html>