<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Student Dashboard</title></head>
<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}
    <section>
    <h3 class="points"><Strong>Points: {{ current_user.points }}</Strong></h3>
    <a href="/student/shop"><button>Shop</button></a>
    <a href="/student/study"><button>Study</button></a>
    <a href="/student/collection"><button>View Collection</button></a>

    <div>
        <h3>Your Classes:</h3>
        {% set active_classes = current_user.class_enrollments|selectattr("status", "equalto", "active")|list%}
        {% if active_classes %}
        <table align = "left" style="float: none;">
            <tr>
                <td><strong>Class </strong></td>
                <td><strong>Teacher</strong></td>
                <td><strong>Action</strong></td>
            </tr>
                {% for enrollment in active_classes %}
                    <tr>
                        <td>
                            <strong>{{ enrollment.class_ref.name }}</strong>
                        </td>
                        <td>
                            {{ enrollment.class_ref.teacher.first_name }} {{ enrollment.class_ref.teacher.last_name }}
                        </td>
                        <td>
                            <a href="/student/class/{{ enrollment.class_ref.id }}"><button>View Class</button></a>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        {% else %}
            <p>You haven't joined any classes yet!</p>
        {% endif %}
    </div>

    <br><br>
    <form method="POST">
        <input type = "text" name = "join_code" placeholder = "Class Join Code">
        <button type="submit">Add New Class</button>
    </form>
    <br><br>
    </section>
    <form action="/logout" method="GET" style = "display: inline;">
        <button type="submit" class="logout-btn">Logout</button>
    </form>

</body>
</html>