<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Student Dashboard</title></head>
<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>
    <p>Points: {{ current_user.points }}</p>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}

    <a href="/student/shop"><button>Shop</button></a>
    <a href="/student/study"><button>Study</button></a>

    <br><br>
    <a href="/logout">Logout</a>
</body>
</html>