<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Study</title>
</head>
<body>
    <h1>Study</h1>
    <div class="points" style="padding-right: 5px;">
        <h3>Points: {{ current_user.points }}</h3>
    </div>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}

    {% if answered %}
        {% if correct %}
            <h2>Correct! +{{ question.point_value }} points</h2>
        {% else %}
            <h2>Incorrect. The answer was {{ question.correct_option.upper() }}</h2>
        {% endif %}
        <a href="/student/study"><button>Next Question</button></a>

    {% else %}
    <section>
        <p><strong>Class: {{ question.class_ref.name }}</strong></p>
        <p><strong>Question: {{ question.text }}</strong></p>
        <form method="POST" action="/student/study/answer">
            <input type="hidden" name="question_id" value="{{ question.id }}">

            <label class="radio-option">
                <input type="radio" name="answer" value="a">
                <span class="custom-radio"></span>
                <span class="option-label">{{ question.option_a }}</span>
            </label>
            <label class="radio-option">
                <input type="radio" name="answer" value="b">
                <span class="custom-radio"></span>
                <span class="option-label">{{ question.option_b }}</span>
            </label>
            <label class="radio-option">
                <input type="radio" name="answer" value="c">
                <span class="custom-radio"></span>
                <span class="option-label">{{ question.option_c }}</span>
            </label>
            <label class="radio-option">
                <input type="radio" name="answer" value="d">
                <span class="custom-radio"></span>
                <span class="option-label">{{ question.option_d }}</span>
            </label>

            <button type="submit">Submit</button>
        </form>
    </section>
    {% endif %}

    <br>
    <a href="/student/dashboard">Back to dashboard</a>
</body>
</html>