<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>This is where the teacher dashboard will go</title>
</head>
<head><title>Teacher Dashboard</title></head>
<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}

    <h3>My classes</h3>
    {% for item in Classes %}
    <section>
        <h4>{{ item.name }}</h4>
        <p><strong>Class Code: </strong> {{ item.join_code }}</p>
        <p><strong>Students: </strong> {{ item.students|length }}</p>
        <a href="/teacher/questions"><button>View Questions</button></a>
        <a href="/teacher/class/{{ item.join_code }}"><button>Manage Class</button></a> 
    </section>
    {% endfor %}

    <br><br>
    <form action="/logout" method="GET" style = "display: inline;">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</body>
</html>