<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>This is where the teacher dashboard will go</title>
</head>
<head><title>Teacher Dashboard</title></head>
<body>
    <h1>Welcome, {{ current_user.first_name }}!</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}
    <table>

    </table>
    <a href="/teacher/questions"><button>View Questions</button></a>

    <br><br>
    <form action="/logout" method="GET" style = "display: inline;">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</body>
</html>