<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Manage Questions</title>
</head>
<body>
    <h1>Questions{% if current_class %} for {{ current_class.name }}{% endif %}</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}
<section>
    {% if questions %}
        <table border="1" cellpadding="8" style="margin-left: 0;" >
            <tr>
                <th>Question</th>
                <th>Points</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for q in questions %}
            <tr>
                <td>{{ q.text }}</td>
                <td>{{ q.point_value }}</td>
                <td>{{ "Active" if q.is_active else "Inactive" }}</td>
                <td>
                    <form method="POST" action="/teacher/question/{{ q.id }}/toggle" style="display:inline">
                        <button type="submit">{{ "Deactivate" if q.is_active else "Activate" }}</button>
                    </form>
                    <a href="/teacher/question/{{ q.id }}/edit" style="display:inline"><button>Edit</button></a>
                    <form method="POST" action="/teacher/question/{{ q.id }}/delete" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No questions yet.</p>
    {% endif %}

    <br>
    <a href="/teacher/question/add{% if current_class %}/{{ current_class.join_code }}{% endif %}"><button>Add New Question</button></a>
    <br><br>
    </body>
</section>
    <a href="/teacher/dashboard">Back to dashboard</a>
</body>
</html>